@import url('https://fonts.googleapis.com/css2? famille=Montserrat:wght@100&display=swap');


.a {
color:#4B5320;
font-family: sans-serif;
text-decoration: underline;
 font-family: 'Montserrat', sans-serif;

 width: 800px;
 
}

.b {

color: #4FFFB0;
font-family: arial;
text-decoration: underline;
}

a:hover {

	background-position: right;
}


.d {

font-family:  Glypha;
height: 20px;
color:#4FFFB0;
}

.e {

	font-family: arial;
	font-size: 25px;
	color: linear-gradient(

to right,
#4B6F44,

		);	


}

.az {

	text-decoration: none;
	color: #006A4E;
	text-transform: uppercase;
	padding: 25px 30px;
	letter-spacing: 4px;
	font-family: arial;
	border-radius: 10px;
	background-size: 200%;
	background-image: linear-gradient(
to right,
#87A96B,
#32de84

		)
}




.kl {

	font-family: arial;
	font-size: 20px;
	
	text-align: center;
	color: #66FF00;



	
}

.kll {

	font-family: arial;
	font-size: 25px;
	color: beige;		
	text-align: center;
	text-decoration: underline;
	border: solid;
	border: transparent;
	border-radius: 100px;
	background-color: green;
	width: 250px;
	top: 250px;
	border-radius: 25px;

}

.op {

	font-family: arial;
	color:black ;
	size: 10px;
}

.bg {

width: 250px;
height: 250px;
background-image: url(Pepsi.jpg);
left: 670px;
top: 470px;
position: absolute;
background-size: 250px;
background-repeat: no-repeat;


}

.mlg  {


}

body {
 opacity: 1.5;
	background-image: url(cool4.jpg);

}

.klll {

	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	size: 25px;
	text-align: center;
	color: beige;
	width: 300px ;
	text-transform: ;
	border: transparent;
	background-size: 120px;
	border-radius: 25px; 
	background-color: #4B5320;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


.kllll {

	
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: beige;
	width: 500px ;
	text-transform: ;
	border: transparent;
	background-size: 120px;
	border-radius: 25px; 
	background-color: green;

}


.jp {

	font-family: 'Montserrat', sans-serif;
	size: 50px;
	text-decoration: underline;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto+Condensed:ital,wght@1,300&display=swap');

.kh {


font-family: 'Roboto Condensed', sans-serif;
color:#4B5320;
font-family: sans-serif;
text-decoration: underline;


 width: 800px;
 

}
